<h1><%= "Infos" %></h1>

<p><%= "Nome do consumidor:" %></p>
<p><%= @customer.name %>

<p><%= "Número do documento:" %></p>
<p><%= @customer.document %></p>

<p><%= "Valor:" %></p>
<p><%= @billet_payment.amount %></p>

<p><%= "Endereço:" %></p>
<p><%= @address.address %></p>

<p><%= "Cidade:" %></p>
<p><%= @address.city %></p>

<p><%= "Estado:" %></p>
<p><%= @address.state %></p>

<p><%= "Cep:" %></p>
<p><%= @address.zipcode %></p>

<p><%= "Bairro:" %></p>
<p><%= @address.neighborhood %></p>
