<h1><%= "Infos" %></h1>

<p><%= "Nome do consumidor:" %></p>
<p><%= @billet_payment["customer_person_name"] %>

<p><%= "Número do documento:" %></p>
<p><%= @billet_payment["customer_cnpj_cpf"] %></p>

<p><%= "Valor:" %></p>
<p><%= @billet_payment["amount"] %></p>

<p><%= "Endereço:" %></p>
<p><%= @billet_payment["customer_address"] %></p>

<p><%= "Cidade:" %></p>
<p><%= @billet_payment["customer_city_name"] %></p>

<p><%= "Estado:" %></p>
<p><%= @billet_payment["customer_state"] %></p>

<p><%= "Cep:" %></p>
<p><%= @billet_payment["customer_zipcode"] %></p>

<p><%= "Bairro:" %></p>
<p><%= @billet_payment["customer_neighborhood"] %></p>
